@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  *::before, *::after{
    padding: 0;
    margin: 0;
  }
#errorMsg {
    color: red;
}


.footer{
    background-color: rgb(210, 96, 20);
    bottom: 0;
    position: fixed;
    width: 100%;
}

.headCont{
    display: flex;
    background-color: rgb(212, 222, 222);
    border: 2px solid rgb(243, 236, 236);
    height: 60px;
    width: 100%;
}

.top{
    display: flex;
    gap: 850px;
    padding-top: 20px;
}

.logo{
    float: left;
    height: 100px;
    width: 50px;
    margin-left: 10px;
  
}

.rightSide{
  justify-content: end;
}


.topWel{
    display: flex;
    gap: 10px;
    padding-top: 5px;
}
.sect{
    text-align: center;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 400px;
    border: 1px solid rgb(191, 191, 219);
    height: 500px;
  
}
img{
    max-width: 100%;
    max-height: 100%;

}


body{
    background-color: #66d9dd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mostplayed{

  position: fixed;
  right: 0;
  height: 100px;
  max-width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  border: 1px solid green;
}

.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #4b4242;
    cursor: pointer;
  }
  .progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
  }
  .progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
  }
  .progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
  }
  .progress-area .song-timer{
    margin-top: 2px;
  }
  .song-timer span{
    font-size: 13px;
    color: var(--lightblack);
  }

  .top-bar, .progress-area .song-timer, 
  .controls, .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .controls .play-pause{
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
    box-shadow: 0px 0px 5px var(--pink);
  }

  .play-pause::before{
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
  }
  .play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
  }
  

  .header #close{
    font-size: 22px;
    color: var(--lightblack);
  }

  #logoutBtn {
    background-color: aquamarine;
    height: 30px;
    width: 60px;
    border-radius: 10px;
  }

  #loginBtn{
    background-color: aquamarine;
    height: 30px;
    width: 60px;
    border-radius: 10px;

  }
  /* table */
  html {
      font-family: "helvetica neue", helvetica, arial, sans-serif;
  }

  thead th,
  tfoot th {
      font-family: "Rock Salt", cursive;
  }

  th {
      letter-spacing: 2px;
  }

  td {
      letter-spacing: 1px;
  }

  tbody td {
      text-align: center;
  }

  tfoot th {
      text-align: right;
  }

  /* footer */
  #controls {
    width: 80px;
    float: left;
  }
  
  #progress {
    margin-left: 80px;
    border: 1px solid black;
  }
  
  #bar {
    height: 20px;
    background-color: green;
    width: 0;
  }

  #btn{
    border: #efefef;
  }
 
